.Shamrock {
  background-color: #28E498;
}
.Purple {
  background-color: #867DCC;
}
.Blue {
  background-color: #28D2E4;
}
.Orange {
  background-color: #E49828;
}
.Red {
  background-color: #CC867D;
}
.WhiteFont {
  color: white;
}
.pastRed {
  background-color: #F38181;
}
.pastYellow {
  background-color: #BA81F3;
}
.pastGreen {
  background-color: #81F381; /* #baf381 */
}
.pastBlue {
  background-color: #81BAF3;  /* #95E1D3 */
}
.otherRed {
  background-color: #DF7581;
}
.otherYellow {
  background-color: #F3C496;
}
.otherGreen {
  background-color: #B7DEAD;
}
.otherBlue {
  background-color: #6AC3CC;
}
.newRed {
  background-color: #F27C7C; /* #DE528C Pink */
}
.newYellow {
  background-color: #FCF09F;
}
.newGreen {
  background-color: #8DE0A6;
}
.newBlue {
  background-color: #4EB3DE;
}
.boopRed {
  background-color: #FF8C94;
}
.boopYellow {
  background-color: #afa8e6;
}
.boopGreen {
  background-color: #C0E6A8;
}
.boopBlue {
  background-color: #A8E6CE;
}
.lightBlue {
  background-color: #3FC1C9;
}
.lightBlue2 {
  background-color: #FCE38A;
}
.lightBlue3 {
  background-color: #FC5185;
}
.lightBlue4 {
  background-color: #3FC98C;
}
.beep {
  background-color: #f0f9fa;
}
.beep2 {
  background-color: #c6e9eb;
}
.beep3 {
  background-color: #9bd9dc;
}
.beep4 {
  background-color: #71C9CE;
}

.MyBlue {
  background-color: #0093FF;
}

.light {
  background-color: #F2F2F2;
  height: 23vh;
}
.grey {
  background-color: #B3D4FC;
  height: 23vh;
}

.blue {
  background-color: #0093FF;
  height: 23vh;
}

.darkgrey {
  background-color: #3D454D;
  height: 23vh;
}

.lightBlue {
  background-color: #f4faff;
  margin-top: 20;
  width: 500px;
}

.lightBlue:hover {
  background-color: #cce6fa;
}

.inner {
  width: 400px;
  background-color: #f4faff;
  border: none;
}
.inner:hover {

  background-color: #cce6fa;

}

/*.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}*/
/************ Icon box 01 ************/
/*.icon-box-01 {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.icon-box-01 {
  -webkit-transition: background-color .2s linear;
  -ms-transition: background-color .2s linear;
  transition: background-color .2s linear;
}*/
.icon-box-01 {
  height: 50vh;
  width: 50vw;
}
.icon-box-01.bg1 {
  background-color: #0093FF;
}
.icon-box-01.bg2 {
  background-color: #0087EB;
}
.icon-box-01.bg3 {
  background-color: #0077CF;
}
.icon-box-01:hover {
  background-color: #867dcc!important;
}
.icon-box-01 .livicon-evo {
  margin: 0 auto 20px;
}
.icon-box-01 .icon-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-box-01 h5 {
  font-weight: 400;
}
.icon-box-01 .white {
  color: #fff;
}
.icon-box-01 a:hover, a:focus {
  text-decoration: none;
}

/*.col-xs-6 {
  padding: 0px;
}*/
