body {
  border: 0px;
}

.container {
  padding: 0px;
  border: 0px;
}


h1 {
  font-family: 'Nunito', 'serif';
  font-size: 46px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-family: 'Nunito', 'serif';
}

h3 {
  font-family: 'Nunito', 'serif';
  font-size: 20px;
  text-align: center;
}

.alert {
  height: 70vh;
  margin-bottom: 0px;
  border-radius: 0px;
}

.alert-info {
  background-color: #867DCC;
  border-color: #756EB2;
  border: none;
  color: #413D63;
}

.alert-success {
  background-color: #28D2E4;
  border-color: #0F5057;
  border: none;
  color: #0F5057;
}

.main {
  height: 80vh;
}

.col-xs-3 {
  padding: 0px;
  margin-bottom: 0px;
}
.row {
  margin-bottom: 0px;
}
