body {
  border: 0px;
}

.container {
  padding: 0px;
  border: 0px;
}


h1 {
  font-family: 'Nunito', 'serif';
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: 'white';
}

h2 {
  font-family: 'Nunito', 'serif';
}

h3 {
  font-family: 'MyFont', 'serif';
  font-size: 17px;
  text-align: center;
  color: #5E6975;
  /*line-height: 1.5;*/
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
}

.alert {
  height: 50vh;
  margin-bottom: 0px;
  border-radius: 0px;
}

.alert-info {
  /*background-color: #867DCC;
  border-color: #756EB2;
  border: none;
  color: #413D63;*/
  /*border-color: #756EB2;*/
  background-color: #fff;
  border: none;
  color: #3D454D;
}

.alert-success {
  /*background-color: #28D2E4;
  border-color: #0F5057;
  border: none;
  color: #0F5057;*/
  background-color: #fff;
  border: none;
  color: #3D454D;
}

.footer {
  background-color: #5E6975;
  color: #fff;
  height: 35vh;
  /*margin-top: 50px;*/
}

h5 {
  font-family: 'Nunito';
}

.main {
  height: 647px;
  background-color: #0093FF;
}

.col-xs-3 {
  padding: 0px;
  margin-bottom: 0px;
}
.row {
  margin-bottom: 0px;
}

.learn {
  height: 30vh;
}

.last {
  /*padding-bottom: 20px;*/
  height: 70vh;
}

h4 {
   font-family: 'Nunito', 'serif';
  font-size: 46px;
  text-align: center;
  font-weight: bold;
  color: 'white';
}

.grey {
  background-color: #B3D4FC;
  height: 30vh;
}
.blue {
  background-color: #0093FF;
  height: 30vh;
}

@font-face {
    font-family: MyFont;
    src: url('./radomir_tinkov_-_gilroy-medium-webfont-30daf242.woff2') format('woff2');
}
