.Purple {
  background-color: #B49AFF;
}
.LightPurple {
  background-color: #AB92F2;
}
.Blue {
  background-color: #9AB6FF;
}
.LightBlue {
  background-color: #6EF1FF;
}
.Green {
  background-color: #28E48D;
}
.Gold {
  background-color: #FFF4B0;
}

.Nunito {
  font-family: 'Nunito';
  color: 'blue100';
}

h2 {
  font-family: 'Nunito', 'serif';
  color: 'blue100';
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.Site-logo {
  animation: Site-logo-spin infinite 20s linear;
  height: 80px;
}

.Site-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.Site-profileControls {
  padding: 10px;
}

.Site-profilePicture {
  display: block;
  width: 192px;
  height: 192px;
  margin: 10px auto;
}

.Site-page {
  /*padding: 10px;*/
}

@keyframes Site-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  overflow-x: hidden;
}
